html
{
	/* touch-action is a CSS property and manipulation makes it so that normal tapping and scrolling works but double tapping to zoom in doesn't work*/
	touch-action: manipulation;
}


body 
{
	background-image: url("./images/background.jpg");
	background-size: cover;
	background-attachment:fixed;
}


@font-face 
{
	font-family:'CustomFont4';
	src: url('fonts/CustomFont4.ttf') format('truetype');
}

.pagelist ul 
{
	display:grid;
	grid-template-columns: auto auto auto auto auto;
	grid-template-rows:auto;	
	justify-content: center;
}

#page0btn
{
	grid-column: 1;
	grid-row: 1 ;

}

#page1btn
{
	grid-column: 2;
	grid-row: 1;

}

#page2btn
{
	grid-column: 3;
	grid-row: 1 ;

}

#page3btn
{
	grid-column: 4;
	grid-row: 1;

}

#page4btn
{
	grid-column: 5;
	grid-row: 1;

}



/*if the screen width is above 800px , will use this layout*/
.indexbody
{
	font-family: 'CustomFont4', serif;
	font-size: 1.8em;
	font-weight: bold;
	font-style: italic;
	line-height: 1.3;
	text-align: center;
	/*forces the browser to include an element's padding and border within its total specified width and height.*/
	box-sizing:border-box;
}

img
{
	height: 60vh;
	width: 60vw;
	/*scales the images to fit entirely inside its container while strictly preserving its original aspect ratio.*/
	object-fit: contain;		
}


#pagecontainer
{
	
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:auto auto auto auto auto auto auto auto auto auto;

}



#page0,
#page1,
#page2,
#page3,
#page4
{
	grid-column: 1 / 31;
	grid-row: 1 / 10;
	height:  auto;
	width: auto;
	color:white; 
	background:#455937; 
	border: 4px solid white; 
	border-radius: 20px;	
}

/* makes ham icon disappear when on PC view */
#hamIcon{display:none;}


#indexheader
{
	color: black; 
	background:#738A60; 
	border-radius: 20px; 
	padding: 10px; 
	margin: auto; 
	text-align: center; 
	width: 95%;
	margin: 20px auto;
}


#indexnav ul li
{
	/* removes bullet points from the list */
	list-style-type: none;
}


#menuicon
{
	display: none;
}


.indexpagename
{
	font-size: 1.1em;
	color:white;
	background:#455937; 
	border-radius: 10px; 
	padding: 10px; 
	width: fit-content;
	margin: 20px;
	
}

footer
{
	grid-column: 1 / 31;
	font-size: 1.0em;
}


.indexparagraph
{
	color: white;
	font-size: 1.2em;
	margin: auto;
	padding: 20px; 
	width: fit-content;
}


.Paraheader
{
	color: #E6B353;
	font-size: 1.6em;
	display: block;
	margin:30px auto;
}


.Parasubheader
{
	color:#F5B63D;
	font-size: 1.4em;
	margin: 30px auto;
	display: block;
}


#FactButton
{
	background:#146317;
	border: 5px solid white;
	border-radius: 5px;
	margin: 50px auto;
	font-family: 'CustomFont4', serif;
}


#ResetFacts
{
	background:#146317;
	border: 5px solid white;
	border-radius: 5px;
	margin: 50px auto;
	font-family: 'CustomFont4', serif;
}


#FactsHere
{
	border: 5px solid white;
	border-radius: 10px;
	width: fit-content;
	font-size:200%;
	height: auto;
	margin: 40px auto;
}


#QRcode img
{
	height:30vh;
	width: 30vw;
}


#mobileview
{
	display:block;	
}


#QRcode2 img
{
	height:30vh;
	width: 30vw;
}


.paragrid
{
	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}


.column1
{
	
	text-align: center;

}


.column2
{
	
	text-align: center;
}


#gamestartbutton
{
	background:#146317;
	border: 5px solid white;
	border-radius: 5px;
	font-family: 'CustomFont4', serif;
	margin: 40px;
}


#Minigame
{
	/* position: relative keeps the element in the normal page layout, but also allows you to move it relative to where it would normally be. Meaning that even if the element is moved, the original space is still reserved and other elements behave as if the element never moved.*/
	/* the posistion: relative; also helps act as a ancestor to the position: absolute; in the player control, as position: absolute; looks for the nearest ancestor that has position: relative or absolute. This helps make the player positioned inside the game box and not relative to the whole webpage. Without the position: relative; in #Minigame, the player could be positioned relative to the page and outside the game area*/
	position: relative; 
	width: 90%;
    height: 200px;
    border: 1px solid black;
	margin: auto;
	background: grey;
}


#playercontrol
{
	 width: 40px;
	 height: 40px;
	 background-image:url("images/spritesheet.png");
	 /* Does not repeat the image if image size is too small, only draws the image once*/
	 background-repeat: no-repeat;
	 /*Scale the entire image so it fits inside the element while keeping its original proportions when the image size is bigger than the element size.*/
     background-size: contain;
	 /*300% width makes the background image 3 times wider than the element and 100% height makes the background exactly the same height as the element. */
	 /* I multiplied the background by 300% even though I only have 2 frames as it causes a blank space to be formed after frame 2 where frame 3 is supposed to be, resulting in frame 1 and 2 being strecthed, making it look thicker */
	 background-size:300% 100%;
	 /* completely removes an element from the normal document flow. It allows you to place the element exactly where you want it without creating blank space or affecting surrounding elements. */
	 position: absolute; 
	 /* makes the rock sit at the left edge of the game container*/	 
	 left: 0%;
	 /* makes the rock sit at the bottom of the game container*/
	 bottom: 0%;
	 /* ease-out starts moving fast and slows down as it reaches the end. */
	 transition: bottom 0.05s ease-out;
}


#Rock
{
	width: 50px;
	height: 50px;
	position: absolute;
	border-radius: 25%;
	/* makes the rock sit at the right edge of the game container*/
	right: 0%;
	/* makes the rock sit at the bottom of the game container*/
	bottom: -4%;
	background-image:url("images/Rock.png");
	background-size:contain;
}

/* makes it so that the buttons don't show up for PC screen*/
#mobilegameleft
{
	display: none;
}


#mobilegameright
{
	display: none;
}


#mobilegamejump
{
	display:none;
}



#mobilegamereset
{
	display:none;	
}


#gamestatus
{
	color:#F5B63D;
	font-size: 1.4em;
	margin: 30px auto;
	display: block;
}
	


.paragrid2
{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto auto auto auto;
}


#page2indexpara1
{
	
	grid-column: 1 / 10;
	grid-row: 1 / 2;
	font-size: 95%;
	
}


#page2indexpara2
{
	
	grid-column: 10 / 21;
	grid-row: 1 / 2;
	font-size: 95%;
	
}


#page2indexpara3
{
	
	grid-column:  1 / 10;
	grid-row: 3 / 4;
	font-size: 95%;
	
}


#page2indexpara4
{
	
	grid-column:  10 / 21;
	grid-row: 3 / 4;
	font-size: 95%;
}


#page2indexpara5
{
	
	grid-column: 1 / 21;
	grid-row: 5 / 6;
	font-size: 90%;
}


#page2indexpara1photo
{
	grid-column: 1 / 9;
	grid-row: 2 / 3;
}


#page2indexpara1photo img
{
	width: 70%;
	height: auto;
}


#page2indexpara1photo2
{
	grid-column: 9 / 21;
	grid-row: 2 / 3;
}


#page2indexpara1photo2 img
{
	width: 70%;
	height: 70%;
}


#page2indexpara1photo3
{
	
	grid-column:  1 / 9;
	grid-row: 4 / 5;
	
}


#page2indexpara1photo3 img
{
	width: 70%;
	height: 70%;
}


#page2indexpara1photo4
{
	
	grid-column:  9 / 21;
	grid-row: 4 / 5;
	
}


#page2indexpara1photo4 img
{
	width: 70%;
	height: 70%;
}


#page2indexpara1photo5
{
	
	grid-column:  1 / 21;
	grid-row: 6 / 6;
	
}


#page2indexpara1photo5 img
{
	width: 50%;
	height: 50%;
}


#quizbtnSubmit
{
	color: white;
	background:#146317;
	border: 5px solid white;
	border-radius: 5px;	
	padding: 5px;
	margin: 50px;
	width: 10vw;
	height: 10vh;
	font-family: 'CustomFont4', serif;
	font-size: 0.8em;
	transition: 0.5s;
	
}

#quizbtnSubmit:hover
{
	height: 7vh;
	width: 7vw;
	font-size: 0.7em;	
}


#quizresetbtn
{
	color: white;
	background:#146317;
	border: 5px solid white;
	border-radius: 5px;
	padding: 5px;
	margin: 50px;
	width: 10vw;
	height: 10vh;
	font-family: 'CustomFont4', serif;
	font-size: 0.8em;
	transition: 0.5s;
}

#quizresetbtn:hover
{
	height: 7vh;
	width: 7vw;
	font-size: 0.7em;	
}



#instalogo
{
	height: 7vh;
	width: 7vw;
	
}


/* menuicon is the name for this CSS animation*/
@keyframes menuicon
{
	0%{rotate:0deg}
	10%{rotate:36deg}
	20%{rotate:72deg}
	30%{rotate:108deg}
	40%{rotate:144deg}
	50%{rotate:180deg}
	60%{rotate:216deg}
	70%{rotate:252deg}
	80%{rotate:288deg}
	90%{rotate:324deg}
	100%{rotate:360deg}
}


/* menuiconreverse is the name for this CSS animation*/
@keyframes menuiconreverse
{
	0%{rotate:0deg}
	10%{rotate:-36deg}
	20%{rotate:-72deg}
	30%{rotate:-108deg}
	40%{rotate:-144deg}
	50%{rotate:-180deg}
	60%{rotate:-216deg}
	70%{rotate:-252deg}
	80%{rotate:-288deg}
	90%{rotate:-324deg}
	100%{rotate:-360deg}
}


/* this stores the menuicon animation into a class and makes it animate over 0.5 seconds */
.anim1{animation: menuicon 0.5s;}


/* this stores the menuiconreverse animation into a class and makes it animate over 0.5 seconds */
.anim2{animation: menuiconreverse 0.5s;}


@media (max-width: 800px) 
{

	.pagelist ul 
	{
		grid-template-columns: auto;
		grid-template-rows:auto auto auto auto;	
		gap: 5px;
	}

	#page0btn
	{
		grid-column: 1;
		grid-row: 1;
	}

	#page1btn
	{
		grid-column: 1;
		grid-row: 2;
	}

	#page2btn
	{
		grid-column: 1;
		grid-row: 3;
	}

	#page3btn
	{
		grid-column: 1;
		grid-row: 4;
	}

	#page4btn
	{
		grid-column: 1;
		grid-row: 5;
	}
	
	.indexpagename
	{
		font-size: 1.5em;
	}
	
	.indexbody
	{
		font-size: 1.5em;
		margin: auto;
		width: 100%;
	}
	
	#page4
	{	
		height: 1500px;
	}
	
	.Paraheader
	{
		margin: 5px auto;
	}
	

	#menuicon
	{
		display: block;
		width: 30%;
		height: 30%;
		margin: 20px auto;
	}
	
	
	 #indexnav ul
    {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
		/* default ul have a padding-left: 40; causing the ul to not be centered, the padding: 0; removes that padding and causes it to be centered again */
		padding: 0;
    }
	
	
	.pagelist
	{
		display: none;
	}
	
	/* used to be added to .pagelist and make the navigation buttons appear and disappear for mobile view after clicking the gear icon */
	.dropdownclass
	{
		display: block;
	}
	

	img
	{
		height: 100%;
		width: 100%;	
	}	
	
	
	#QRcode img
	{
		height:70%;
		width: 60%;
	}
	
	/* makes the mobile view QR code text disappear when on mobile */
	#mobileview
	{
		display:none;	
	}
	
	/* makes the mobile view QR code disappear when on mobile */
	#QRcode2 img
	{
		display: none;
	}
	

	.paragrid
	{
		display: block;
	}
	
	
	.paragrid2
	{
		display: block;	
	}
	
	
	#quizbtnSubmit
	{
		width: auto;
		height: auto;
	}
	
	#Minigame
	{
		height: 20%;
		width: auto;
	}
	
	#quizresetbtn
	{
		width: auto;
		height: auto;
	}
	
	
	#gamestartbutton
	{
		display: block;
		height: auto;
		width: auto;
		margin: 50px auto;
	}
	
	#playercontrol
	{
		width:25px;
		height:15%;
	}
	
	#gamestatus
	{
		width: auto;
		height: 10%;	
	}


	#Rock
	{
		width:35px;
		height:35px;
		bottom: 0%;
		right: 0%;
	}
	
	/* these are for the buttons to control the game on mobile */
	#mobilegameleft
	{
		/* allows the buttons to be seen on mobile view and also allows the three buttons to be on the same line */
		display: inline-block;
		background:#146317;
		border: 5px solid white;
		border-radius: 5px;
		font-family: 'CustomFont4', serif;
		font-size: 1.0em;
		margin: 10px auto;
	}
	
	#mobilegameright
	{
		display:inline-block;
		background:#146317;
		border: 5px solid white;
		border-radius: 5px;
		font-family: 'CustomFont4', serif;	
		font-size: 1.0em;
		margin: 10px auto;		
	}



	#mobilegamejump
	{
		display: inline-block;
		background:#146317;
		border: 5px solid white;
		border-radius: 5px;
		font-family: 'CustomFont4', serif;	
		font-size: 1.0em;	
		margin: 10px auto;
	}



	#mobilegamereset
	{
		display:block;
		background:#146317;
		border: 5px solid white;
		border-radius: 5px;
		margin: 10px auto;
		font-family: 'CustomFont4', serif;		
	}
	
	
	footer
	{
		font-size: 0.8em;
	}
	

	#instalogo
	{
		height: auto;
		width: auto;	
	}
}